* {
  margin: 0;
  padding: 0;
  outline: 1px dotted grey;
}

body {
   font-family: Roboto Medium, Arial, sans-serif;
   font-size: 16px;
   color: #000000;
   line-height: 22px;
   font-weight: normal;
   background: #ffffff url("");
}

h1 {
  font-family: Roboto Medium, Arial, sans-serif;
  font-size: 40px;
  color: #000000;
  line-height: normal;
  font-weight: normal;
  text-transform: uppercase;
}

h2 {
  font-family: Roboto Medium, Arial, sans-serif;
  font-size: 36px;
  line-height: 36px;
  color: #000000;
  font-weight: normal;
}

.clearfix::after {
  content: "";

  display: table;
  clear: both;
}

.main-header {
  background-color: #eeeeee;
}

.container {
  width: 900px;
  margin: 0 auto;
  padding: 0px 10px;
}

.header-logo {
  float: left;
  width: 160px;

}

.main-navigation {
  width: 400px;
  margin-left: 170px;

}

.user-block {
  float: right;
  width: 100px;

}

.slider {
  width: 880px;
  height: 300px;
  background-image: url("img/Layer 29.png");
  background-position: right;
}

 .slider-left {
   width: 380px;
   height: 250px;
 }

.services {
  margin-top: 80px;
  margin-bottom: 100px;
}

.services-item {
  float: left;
  width: 240px;
  margin-right: 80px;

}

.services-item:last-child {
  margin-right: 0;
}

.description {
  margin-bottom: 90px;

}

.description-left {
  float: left;
  width: 590px;

}

.description-right {
  float: right;
  width: 240px;


}

.project {
  width: 880px;
  margin-bottom: 90px;
}

.project-item {
  float: left;
  width: 240px;
  margin-right: 80px;
}

.project-item:last-child {
  margin-right: 0;
}

.sidebar-catalog {
  float: left;
  width: 240px;
  margin-right: 80px;
}

.main-catalog {
  width: 560px;
}

.menu {
  width: 560px;
  height: 20px;
}

.col-left {
  float: left;
  margin-bottom: 20px;
  width: 240px;
  margin-right: 80px;

}

.col-right {
  float: right;
  margin-bottom: 20px;
  width: 240px;

}

.paginator {
  margin-bottom: 80px;
}

.map {
  width: 1200px;
  min-height: 418px;
}

.address {
  width: 250px;

}

.main-footer {
  margin-top: 40px;

}

.footer-social {
  float: left;
  width: 240px;
  margin-right: 60px;
}

.footer-cooperation {
  float: right;
  width: 570px;
  padding:
}
